<div> 
 <p><span>Engine CC</span><b>: {{cardetail.engine}}</b></p>
 <p><span>Mileage</span><b>: {{cardetail.mileage}} </b></p>
 <p><span>Max Power</span><b>: {{cardetail.maxpower}}</b></p>
 <p><span>Fuel</span><b>: {{cardetail.fuel}} </b></p>
 <p><span>Transmission</span><b>: {{cardetail.transmission}}</b></p>
 <p><span>Length</span><b>: {{cardetail.length}} mm</b></p>
 <p><span>Width</span><b>: {{cardetail.width}} mm</b></p>
 <p><span>Height</span><b>: {{cardetail.height}} mm</b></p>
</div>